<div class="jumbotron">
    <h1 class="display-4">Acesso Negado!</h1>
    <p class="lead">Sem premissão para acessar essa página</p>
    <hr class="my-4">
    <p>Usuário sem autorização</p>
    <p class="lead">
      
    </p>
</div>