<h1 class="bg-info text-white">Criar Nova Claim</h1>
<a asp-action="Index" class="btn btn-outline-dark">Retornar</a>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="ClaimType">Tipo da Claim:</label>
        <input name="ClaimType" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ClaimValue">Valor da Claim:</label>
        <input name="ClaimValue" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Criar Claim</button>
</form>
