@model IEnumerable<IdentityUser>

<h2>Usuários</h2>

@if (Model.Any())
{
    <table class="table table-sm table-bordered table-bordered">
        <tr><th>ID</th><th>Nome</th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="EditUser" asp-route-id="@user.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Gerenciar Claims
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}