@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="card-title">Cadastro de Alunos usando Identity</h1>
    <br />
    <img src="~/images/imagem.jpg" alt="Área de administração" width="400" height="300" asp-append-version="true"/>
</div>
